extends layout

block content
  h1= title
  p Welcome to my page
  ul
    for user in saldo
      li.listItem(class=user.NIM ? "NIM" : "12345678")
      | NIM   : #{user.NIM}
      | Nama  : #{user.Nama}
      | Saldo : #{user.Saldo}
    else
      p No Todos
